<div class="container">
  <h2 class="page-title">Register</h2>
</div>
<div class="container" style="margin-bottom: 3em;">
  <!-- action='/Spitter/j_spring_security_check' -->
  <form action="#" style="max-width: 480px;">

    <!-- Username -->
    <div class="form-group">
      <label for="uName">Username</label>
      <input type="text" id="uName" name="uName" class="form-control" required
        [(ngModel)]="user.userName" #uName="ngModel" >

      <div *ngIf="uName.invalid && (uName.dirty || uName.touched)"
           class="alert alert-danger">
        <span *ngIf="uName.errors.required">Username is required.</span>
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="txtPwd">Password</label>
      <input type="password" id="txtPwd" name="txtPwd" class="form-control" required #txtPwd="ngModel"
         [(ngModel)]="user.password" minlength="9" placeholder="Password">
      <div *ngIf="txtPwd.invalid && (txtPwd.dirty || txtPwd.touched)"
           class="alert alert-danger">
        <span *ngIf="txtPwd.errors.required">Password is required.</span>
        <span *ngIf="txtPwd.errors.minlength">Password must be at least 9 characters long.</span>
      </div>
    </div>

    <!-- Password confirm -->
    <div class="form-group">
      <label for="txtPwdConfirm">Password</label>
      <input type="password" id="txtPwdConfirm" name="txtPwdConfirm" class="form-control" required
         [(ngModel)]="user.passwordConfirm" #txtPwdConfirm="ngModel" placeholder="Confirm password">
      <div *ngIf="txtPwdConfirm. invalid && (txtPwdConfirm.dirty || txtPwdConfirm.touched)"
           class="alert alert-danger">
        <span *ngIf="txtPwdConfirm.errors.required">Password confirmation is required.</span>
      </div>
    </div>

    <!-- First name -->
    <div class="form-group">
      <label for="txtFirstname">First name</label>
      <input type="text" id="txtFirstname" name="txtFirstname" class="form-control"
         [(ngModel)]="user.firstName" placeholder="First Name">
    </div>

    <!-- Last name -->
    <div class="form-group">
      <label for="txtLastname">Last name</label>
      <input type="text" id="txtLastname" name="txtLastname" class="form-control"
         [(ngModel)]="user.lastName"placeholder="Last Name">
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="txtEmail">Email</label>
      <input type="text" name="txtEmail" id="txtEmail" class="form-control" required
         [(ngModel)]="user.email" ngModel [email]="true" placeholder="Email">
<!--      <div *ngIf="txtEmail.invalid && (txtEmail.dirty || txtEmail.touched)"-->
<!--           class="alert alert-danger">-->
<!--        <span *ngIf="txtEmail.errors.required">Email is required.</span>-->
<!--      </div>-->
    </div>

    <div class="form-check" style="margin-bottom: 10px;">
      <input type="checkbox" class="form-check-input" #isCarOwner id="chkCarOwner" [(ngModel)]="isCarOwner.value">
      <label class="form-check-label" for="chkCarOwner">Be CarOwner</label>
    </div>

    <button type="button" class="btn btn-primary" (click)="onBtnSubmitClicked(isCarOwner.checked)">Submit</button>

  </form>

  <small><i>Already have an account?. Click <a href="" routerLink="/login"><b>here</b></a> to login.</i></small>
</div>
