<div class="page-header">
  <!-- Images and text -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" routerLink="/">
      <img src="/assets/logo.svg" width="180" class="d-inline-block align-top" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">

        <li *ngIf="isAdminLoggedIn()" class="nav-item">
          <a class="nav-link" href="#" routerLink="/user">Users</a>
        </li>
        <li *ngIf="isAdminLoggedIn()" class="nav-item">
          <a class="nav-link" href="#" routerLink="/car">Cars</a>
        </li>

        <li *ngIf="isAdminLoggedIn()" class="nav-item">
          <a class="nav-link" href="#" routerLink="/rental">Rentals</a>
        </li>
        <li *ngIf="isAuthenticated()" class="nav-item">
          <a class="nav-link" href="#" routerLink="/dashboard">Dashboard</a>
        </li>

        <li class="nav-item">
          <a *ngIf="!isAuthenticated()" class="nav-link" href="#" routerLink="/login">Login</a>
          <!--<a *ngIf="isAuthenticated()" class="nav-link" [routerLink]="" (click)="doLogout()">Logout</a>-->
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0" *ngIf="isAuthenticated()">
        <div>
          <span style="color: white; font-weight: bold; margin-right: 10px;">
            <i class="fas fa-user"></i> Welcome {{getUserName()}}</span>
          <a [routerLink]="" (click)="doLogout()">
            <span style="color: white;"><i class="fas fa-power-off"></i></span></a>
        </div>
        <br/>
      </form>
    </div>

  </nav>

</div>
