<div class="container">
  <h2 class="page-title">Login</h2>
</div>
<div class="container">
  <!-- action='/Spitter/j_spring_security_check' -->
  <form style="max-width: 480px;">

    <div class="form-group">
      <label for="uName">Username</label>
      <input type="text" id="uName" name="uName" class="form-control" required tabindex="1"
         [(ngModel)]="user.userName" #uName="ngModel" (keyup)="onKeyUpPressed($event)">

      <div *ngIf="uName.invalid && (uName.dirty || uName.touched)"
           class="alert alert-danger">
        <span *ngIf="uName.errors.required">Username is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="txtPwd">Password</label>
      <input type="password" id="txtPwd" class="form-control" name="password" required tabindex="2"
        [(ngModel)]="user.password" #password="ngModel" placeholder="Password" (keyup)="onKeyUpPressed($event)">

      <div *ngIf="password.invalid && (password.dirty || password.touched)"
           class="alert alert-danger">
        <span *ngIf="password.errors.required">Password is required.</span>
      </div>
    </div>

    <button type="button" class="btn btn-primary"
      (click)="onBtnLoginClicked(uName.value, password.value)">Submit</button>
  </form>

  <small><i>Don't have an account. Click <a href="" routerLink="/register"><b>here</b></a> to create new one.</i></small>
</div>
