
<div style="margin-top:1em;margin-bottom: 4em;" class="container">
  <div>
    <span style="font-size: 2em; color: #32a5e7;">List of users</span>
    <span style="float:right;">
        <a class="btn btn-outline-success btn-lg" href="" routerLink="/user-add">Add New User</a>
    </span>
  </div>

  <p>&nbsp;</p>
  <div style="font-size: 1em">
    <!-- Search -->
    <div style="padding-top:1em; padding-bottom: 1em;" class="container">

      <form id="formSearchStudents" method="get" class="form-inline" action="/eregistrar/student/search">
        <fieldset style="width: 100%;">
          <div class="row pull-right">
            <div class="form-group">
              <input id="term" name="term" type="text" #txtSearch class="form-control">
            </div>
            <div style="margin-left: 5px;">
              <button id="btnSubmit" type="submit" class="btn btn-outline-success"
               (click)="searchUser(txtSearch.value)">
                <i class="fas fa-search"></i> Search</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div><!-- End of Form Search -->

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; let i = index;">
        <td scope="col">{{ i+1 }}</td>
        <td scope="col">{{ user.firstName }}</td>
        <td scope="col">{{ user.lastName }}</td>
        <td scope="col">{{ user.userName }}</td>
        <td scope="col">{{ user.email }}</td>
        <td scope="col"><span [ngClass]="getUserStatusClass(user)" style="padding: 0.1rem 0.5rem;">{{ user.status }}</span></td>
        <td scope="col">
          <a *ngIf="user.status === 'Active'" [routerLink]="" class="btn btn-outline-danger" (click)="blockUser(user)">block</a>
          <a *ngIf="user.status === 'Blocked'" [routerLink]="" class="btn btn-outline-danger" (click)="unBlockUser(user)">unblock</a>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- Pagination -->
    <div *ngIf="page">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">Pages: </a>
        </li>
        <li *ngFor="let number of arrayOfPages()" class="page-item">
          <a [routerLink]="" (click)="loadUsers(number-1)" href="#" class="page-link" [ngClass]="getPageItemClass(number-1)">{{ number }} </a></li>
      </ul>
    </div>

  </div>
</div>
