#frmCarRegister {
  .field-must {
    color: red;
  }

  label {
    font-weight: bold;
  }

  ul#lsUploadedImages {
    list-style-type: decimal;

    img {
      height: 32px;
      width: auto;
      margin-right: 5px;
      border: 1px solid lightgray;
      box-shadow: 1px 1px black;
      border-radius: 2px;
    }

    li {
      margin-bottom: 5px;
    }
  }
}

