<div class="container car-detail-container" style="margin-top: 1em; margin-bottom: 4em;">
  <div class="container">
    <h2 class="page-title">Register New Car</h2>
  </div>

  <div class="container">

    <form id="frmCarRegister">

      <div class="row">
        <div class="col-md-6">
          <!-- CarBrand -->
          <div class="form-group">
            <label for="txtCarBrand">Car Brand <span class="field-must">(*)</span></label>
            <input type="text" class="form-control" name="carBrand" id="txtCarBrand" required tabindex="1"
              [(ngModel)]="car.carBrand" #carBrand="ngModel" placeholder="Toyota, Ford, ...">
            <div *ngIf="carBrand.invalid && (carBrand.dirty || carBrand.touched)"
                 class="alert alert-danger">
              <span *ngIf="carBrand.errors.required">Brand is required.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- CarModel -->
          <div class="form-group">
            <label for="txtModel">Model <span class="field-must">(*)</span></label>
            <input type="text" class="form-control" name="location" id="txtModel" required tabindex="2"
               [(ngModel)]="car.model" #txtModel="ngModel" placeholder="Car Model">
            <div *ngIf="txtModel.invalid && (txtModel.dirty || txtModel.touched)"
                 class="alert alert-danger">
              <span *ngIf="txtModel.errors.required">Model is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <!-- Year -->
          <div class="form-group">
            <label for="txtYear">Year <span class="field-must">(*)</span></label>
            <input type="number" class="form-control" name="year" id="txtYear" required tabindex="3"
               [(ngModel)]="car.year" #txtYear="ngModel" placeholder="Year">
            <div *ngIf="txtYear.invalid && (txtYear.dirty || txtYear.touched)"
                 class="alert alert-danger">
              <span *ngIf="txtYear.errors.required">Car produce year is required.</span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <!-- Price  -->
          <div class="form-group">
            <label for="txtPrice">Price ($) - Price per day <span class="field-must">(*)</span></label>
            <input type="number" class="form-control" name="price" id="txtPrice" required tabindex="4"
               [(ngModel)]="car.price" #txtPrice="ngModel" placeholder="Price">
            <div *ngIf="txtPrice.invalid && (txtPrice.dirty || txtPrice.touched)"
                 class="alert alert-danger">
              <span *ngIf="txtPrice.errors.required">Price is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <!-- seats number -->
          <div class="form-group">
            <label for="txtSeatsNumber">Seats number <span class="field-must">(*)</span></label>
            <input type="number" class="form-control" name="seats" id="txtSeatsNumber" required tabindex="5"
               [(ngModel)]="car.seats" #txtSeatsNumber="ngModel" placeholder="Seats number">
            <div *ngIf="txtSeatsNumber.invalid && (txtSeatsNumber.dirty || txtSeatsNumber.touched)"
                 class="alert alert-danger">
              <span *ngIf="txtSeatsNumber.errors.required">Seats number is required.</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Status -->
          <div class="form-group">
            <label for="txtStatus">Status <span class="field-must">(*)</span></label>
            <select class="form-control"  name="status" id="txtStatus" [(ngModel)]="car.status"  required tabindex="6">
              <option value="1" selected>Very good</option>
              <option value="2">Good</option>
              <option value="3">Fair</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <!-- Pick up pickUpLocation -->
          <div class="form-group">
            <label for="txtLocation">Pickup location <span class="field-must">(*)</span></label>
            <input type="text" class="form-control" name="model" id="txtLocation" required tabindex="7"
               [(ngModel)]="car.pickUpLocation" #pickupLocation="ngModel" placeholder="Address">
            <div *ngIf="pickupLocation.invalid && (pickupLocation.dirty || pickupLocation.touched)"
                 class="alert alert-danger">
              <span *ngIf="pickupLocation.errors.required">Pickup location is required.</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <!-- Description -->
          <div class="form-group">
            <label for="txtDesciption">Description</label> <small> - Give a short description about your car.</small>
            <textarea class="form-control" name="description" id="txtDesciption" tabindex="8"
              [(ngModel)]="car.description" placeholder="Description"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <!-- Photos -->
          <div class="form-group">
            <label for="images">Photos</label>
            <input type="file" multiple id="images" name="images" class="form-control" tabindex="9"
              (change)="onChange({event : $event})" />
          </div>
          <div class="row">
            <ul id="lsUploadedImages">
              <li *ngFor="let image of images">
                <img [src]="image.src" [alt]="image.alt">
                <span>{{image.alt}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row" style="float: right; margin-right: 0;">
        <button type="button" class="btn btn-primary" (click)="onClickSubmitRegister()">Submit</button>
      </div>

    </form>

  </div>
</div>
