.car-detail-container {
  margin-top: 1em;
  margin-bottom: 4em;

  .galary {

  }

  ul#galary-thumbnail {
    list-style-type: none;
    display: flex;
    margin-top: 5px;
    padding-left: 0;
    padding-right: 0;
    li {
      float: left;
      border: 1px solid lightgray;
      margin-right: 2px;
      box-shadow: 1px 1px black;
      border-radius: 2px;

      img {
        width: 50px;
        height: 32px;
      }
    }

    li:hover {
      cursor: pointer;
      border: 1px solid gray;
    }
  }


  .card-title {
    font-weight: bold;
  }

  ul.lst-feature {
    list-style: none;
    padding: 1px 1px;

    li {
      border-bottom: 1px solid darkgray;
      margin-bottom: 2px;

      .fas {
        padding-right: 5px;
        width: 30px;
        color: green;
      }

      .car-property {
        font-weight: bold;
      }
    }
  }
}
