<div class="container car-detail-container" *ngIf="car">

  <div class="row">
    <span style="font-size: 2em; color: #32a5e7;">Car Detail</span>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <div *ngIf="hasImages()">
        <ul id="galary-thumbnail">
          <li *ngFor="let img of car.images" (click)="selectImage(img)"> <img [src]="img.path"> </li>
        </ul>
      </div>
      <div class="galary">
        <img [src]="thumbnailImgPath" class="img-thumbnail" width="100%" height="auto">
      </div>
    </div>

    <div class="col-lg-4 col-md-4">
      <div class="row">
        <span class="car-title">{{ car.carBrand | uppercase }}</span>
      </div>

      <ul class="lst-feature">
        <li><i class="fas fa-id-card"></i><span class="car-property">Contact: </span><span style="color: red;">{{ car.owner.phone }}</span></li>
        <li><i class="fas fa-car"></i><span class="car-property">Model: </span> {{ car.model }}</li>
        <li><i class="fas fa-clock"></i><span class="car-property">Year: </span> {{ car.year }}</li>
        <li><i class="fas fa-dollar-sign"></i><span class="car-property">Price: </span> {{ car.price | currency }}</li>
        <li><i class="fas fa-table"></i><span class="car-property">Seats: </span> {{ car.seats }}</li>
        <li><i class="fas fa-quote-left"></i><span class="car-property">Description: </span> {{ car.description }}</li>
        <li><i class="fas fa-circle"></i><span class="car-property">Status: </span> {{ car | carStatus }}</li>
        <li><i class="fas fa-map-marker-alt"></i><span class="car-property">Pick up location: </span> {{ car.pickUpLocation }}</li>
      </ul>

      <div class="card">
        <div class="card-header alert alert-success">Rental Request</div>
        <div class="row card-body">
          <div class="col-md-12 col-lg-6">
            <div class="form-group">
              <label for="datePickup">Date Pickup</label>
              <input id="datePickup" name="datePickup" type="date" class="form-control" aria-describedby="dateSuppliedHelp"
               [(ngModel)]="rental.pickUpDate" required>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="form-group">
              <label for="dateExpected">Date Return</label>
              <input id="dateExpected" name="dateExpected" type="date" class="form-control" aria-describedby="dateExpectedHelp"
                 [(ngModel)]="rental.expectedDate" required>
            </div>
          </div>

          <div class="col-lg-12">
            <button class="btn btn-outline-success" style="float: right;"
              (click)="sendRentalRequest()">I Want This Car</button>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row" style="margin-top: 5em;">
    <button class="btn btn-outline-success" routerLink="/">Back</button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="confirmRentReq" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content panel-warning">
        <div class="modal-header alert alert-success">
          <h5 class="modal-title" id="exampleModalCenterTitle">Confirmation!!!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          A Rent Request is created for you. Please check your dashboard for status.
          As soon as our admin can verify and approve, you can contact with the Owner
          and pick your car at specific location.
          <p style="margin-top: 15px;">
          <i>Thank you!</i></p>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary"
            style="padding: 12px 2em;">OK</button>
        </div>
      </div>
    </div>
  </div>

</div>
