<div style="padding-top:1em;" class="container">
  <div>
    <span style="font-size: 2em; color: #32a5e7;">Dashboard</span>
    <span *ngIf="isCarOwner()" style="float:right;">
        <a class="btn btn-outline-success btn-lg" href="" routerLink="/car-register">Register a car</a>
    </span>
  </div>

  <p>&nbsp;</p>
  <div *ngIf="isCarOwner()" class="row" style="font-size: 1em">
    <div class="col-md-12">
      <label>My Rented Cars</label>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Car</th>
          <th scope="col">Renter</th>
          <th scope="col">Price Per Day</th>
          <th scope="col">Created</th>
          <th scope="col">Pickup</th>
          <th scope="col">Return</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rental of myCarRent; let i = index;">
          <td scope="col">{{ i+1 }}</td>
          <td scope="col">{{ rental.car.carBrand }}</td>
          <td scope="col">{{ rental.user.userName }}</td>
          <td scope="col">{{ rental.car.price | currency }}</td>
          <td scope="col">{{ rental.createDate | date : 'MM/dd/yyyy' }}</td>
          <td scope="col">{{ rental.pickUpDate | date : 'MM/dd/yyyy' }}</td>
          <td scope="col">{{ rental.expectedDate | date : 'MM/dd/yyyy' }}</td>
          <td scope="col"><span [ngClass]="getRentalStatusClass(rental)" style="padding: 0.1rem 0.5rem;">{{ rental.status}}</span></td>
          <td scope="col" *ngIf="rental.status === 'APPROVED'">
            <a class="btn btn-sm btn-outline-danger" (click)="sendFinish(rental)" [routerLink]="" >Finish</a></td>
        </tr>
        </tbody>
      </table>

    </div>
    <div *ngIf="page">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">Pages: </a>
        </li>
        <li *ngFor="let number of arrayOfPages()" class="page-item">
          <a [routerLink]="" (click)="loadMyRentals(number-1)" href="#" class="page-link" [ngClass]="getPageItemClass(number-1)">{{ number }} </a></li>
      </ul>
    </div>
  </div>

  <div class="row" style="font-size: 1em">
      <div class="col-md-12">
          <label>My Renting
          </label>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Car</th>
            <th scope="col">Renter</th>
            <th scope="col">Price Per Day</th>
            <th scope="col">Created</th>
            <th scope="col">Pickup</th>
            <th scope="col">Return</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rental of myRenting; let i = index;">
            <td scope="col">{{ i+1 }}</td>
            <td scope="col">{{ rental.car.carBrand }}</td>
            <td scope="col">{{ rental.user.userName }}</td>
            <td scope="col">{{ rental.car.price | currency }}</td>
            <td scope="col">{{ rental.createDate | date : 'MM/dd/yyyy' }}</td>
            <td scope="col">{{ rental.pickUpDate | date : 'MM/dd/yyyy' }}</td>
            <td scope="col">{{ rental.expectedDate | date : 'MM/dd/yyyy' }}</td>
            <td scope="col"><span [ngClass]="getRentalStatusClass(rental)" style="padding: 0.1rem 0.5rem;">{{ rental.status}}</span></td>
        </table>
        </div>
      <div *ngIf="page">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#">Pages: </a>
          </li>
          <li *ngFor="let number of arrayOfPages()" class="page-item">
            <a [routerLink]="" (click)="loadMyRenting(number-1)" href="#" class="page-link" [ngClass]="getPageItemClass(number-1)">{{ number }} </a></li>
        </ul>
      </div>
  </div>
</div>
