<div style="padding-top:1em;" class="container">
  <div>
    <span style="font-size: 2em; color: #32a5e7;">System statistic</span>
  </div>

  <p>&nbsp;</p>
  <div style="font-size: 1em">


  </div>
</div>
