<div class="col-md-6 col-lg-3 col-sm6 car-thumbnail">
  <div class="car-title">{{ car.carBrand | uppercase }}</div>
  <div class="img-container">
    <img [src]="carThumbnailImg()" class="img-thumbnail" width="100%" height="auto">
    <span class="rent-price">{{ car.price | currency }} Per Day</span>
  </div>
  <div>
    <p class="description">{{ car.description | ellipsis:50 }}</p>
  </div>
  <div>
    <button class="btn btn-outline-success" (click)="onCarSelected()">View Car</button>
  </div>
</div>
