.car-thumbnail {
  display: inline-table;
  margin-bottom: 10px;
  padding: 10px 15px;

  .car-title {
    color: green;
    font-weight: bold;
  }
  .img-container {
    position: relative;

    .rent-price {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 80%;
      color: white;
      font-style: italic;
      font-weight: bold;
    }
  }

  .img-thumbnail {
    transition: transform .5s ease;
  }
  .img-thumbnail:hover {
    transform: scale(1.12);
  }
}
