<div style="margin-top:1em;margin-bottom: 4em;" class="container">
  <div>
    <span style="font-size: 2em; color: #32a5e7;">List of cars</span>
    <span style="float:right;">
        <a class="btn btn-outline-success btn-lg" href="" routerLink="/car-register">Add New Car</a>
    </span>
  </div>

  <p>&nbsp;</p>
  <div style="font-size: 1em">
    <!-- Search -->
    <div style="padding-top:1em; padding-bottom: 1em;" class="container">

      <form id="formSearchStudents" method="get" class="form-inline" action="/eregistrar/student/search">
        <fieldset style="width: 100%;">
          <div class="row pull-right">
            <div class="form-group">
              <input id="term" name="term" type="text" #txtSearch class="form-control">
            </div>
            <div style="margin-left: 5px;">
              <button id="btnSubmit" type="submit" class="btn btn-outline-success"
                      (click)="searchCar(txtSearch.value)">
                <i class="fas fa-search"></i> Search</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div><!-- End of Form Search -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Year</th>
        <th scope="col">Description</th>
        <th scope="col">Price (Per day)</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars; let i = index;">
        <td scope="col">{{ i+1 }}</td>
        <td scope="col">{{ car.carBrand }}</td>
        <td scope="col">{{ car.model }}</td>
        <td scope="col">{{ car.year }}</td>
        <td scope="col">{{ car.description | ellipsis:50 }}</td>
        <td scope="col">{{ car.price | currency }}</td>
        <td scope="col">{{ car | carStatus }}</td>
      </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div *ngIf="page">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">Pages: </a>
        </li>
        <li *ngFor="let number of arrayOfPages()" class="page-item">
          <a [routerLink]="" (click)="loadCars(number-1)" href="#" class="page-link" [ngClass]="getPageItemClass(number-1)">{{ number }} </a></li>
      </ul>
    </div>

  </div>
</div>
