<div class="container-fluid">
  <!-- Search -->
  <div class="row box-search">
    <form style="padding: 9px 10px;">
      <!-- Search form -->
      <div class="md-form mt-0 ">
        <input #searchTerm
          class="form-control" type="text" placeholder="Search" aria-label="Search"
          (keyup)="onKeyUpOnSearchField($event, searchTerm.value)">
      </div>
    </form>
  </div> <!-- End of Form Search -->

  <div class="container" style="margin-top: 1em; margin-bottom: 2em;">
    <h2 class="title">Most Popular Cars</h2>
    <app-car-thumbnail
      *ngFor="let car of cars" [car]="car"
      (viewDetailSelected)="onViewDetailSelected($event)"></app-car-thumbnail>
  </div>

</div>
