.box-search {
  background-image: url("/assets/image/car-2.jpg");
  min-height: 480px;
  background-size: cover;

  form {
    position: relative;
    height: 60px;
    width: 98%;
    left: 1%;
    top: 50px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px -2px lightgrey;
    border-bottom: 2px solid gray;
  }
}
.car-title {
  font-weight: bold;
  color: greenyellow;
}
