<div style="padding-top:1em;" class="container">
  <div>
    <span style="font-size: 2em; color: #32a5e7;">Test page</span>
  </div>
</div>
<div class="container">
  <div class="row">
    <app-car-thumbnail *ngFor="let car of cars" [car]="car"></app-car-thumbnail>
  </div>
</div>
