<div style="margin-top:1em;margin-bottom: 4em;" class="container">
  <div>
    <span style="font-size: 2em; color: #32a5e7;">List of Rentals</span>
  </div>

  <p>&nbsp;</p>
  <div style="font-size: 1em">
    <!-- Search -->
    <div style="padding-top:1em; padding-bottom: 1em;" class="container">

      <form id="formSearchStudents" method="get" class="form-inline">
        <fieldset style="width: 100%;">
          <div class="row pull-right">
            <div class="form-group">
              <input id="term" name="term" type="text" #txtSearch class="form-control">
            </div>
            <div style="margin-left: 5px;">
              <button id="btnSubmit" type="submit" class="btn btn-outline-success"
                (click)="searchRental(txtSearch.value)">
                <i class="fas fa-search"></i> Search</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div><!-- End of Form Search -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Car</th>
        <th scope="col">Renter</th>
        <th scope="col">Price Per Day</th>
        <th scope="col">Created</th>
        <th scope="col">Pickup</th>
        <th scope="col">Return</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rental of rentals; let i = index;">
        <td scope="col">{{ i+1 }}</td>
        <td scope="col">{{ rental.car.carBrand }}</td>
        <td scope="col">{{ rental.user.userName }}</td>
        <td scope="col">{{ rental.car.price | currency }}</td>
        <td scope="col">{{ rental.createDate | date : 'MM/dd/yyyy' }}</td>
        <td scope="col">{{ rental.pickUpDate | date : 'MM/dd/yyyy' }}</td>
        <td scope="col">{{ rental.expectedDate | date : 'MM/dd/yyyy' }}</td>
        <td scope="col"><span [ngClass]="getRentalStatusClass(rental)" style="padding: 0.1rem 0.5rem;">{{ rental.status}}</span></td>
        <td scope="col" *ngIf="rental.status === 'PENDING'">
          <a class="btn btn-sm btn-outline-success" (click)="sendApprove(rental)" [routerLink]="" style="margin-right: 2px;" >approve</a>
          <a class="btn btn-sm btn-outline-danger" (click)="sendReject(rental)" [routerLink]="" >reject</a></td>
        <td scope="col" *ngIf="rental.status === 'APPROVED'">
          <a class="btn btn-sm btn-outline-danger" (click)="sendFinish(rental)" [routerLink]="" >finish</a></td>
      </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <div *ngIf="page">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">Pages: </a>
        </li>
        <li *ngFor="let number of arrayOfPages()" class="page-item">
          <a [routerLink]="" (click)="loadRentals(number-1)" href="#" class="page-link" [ngClass]="getPageItemClass(number-1)">{{ number }} </a></li>
      </ul>
    </div>

  </div>
</div>
